@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Erica+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
    --clr-1: #1A5319;
    --clr-2: #508D4E;
    --clr-3: #80AF81;
    --clr-4: #D6EFDE;
    --clr-5: #55AD98;
    --clr-6: #06D001;
    --clr-7: #32CD32; 
    --clr-8: #059212;
    --clr-9: #45FFCA;
    --clr-10: #2A9D8F;
    --clr-11: #3b5249;
    --clr-12: #2ecc71;
    --clr-13: #9dbbae;
}

/* CSS RESETS */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #D6EFDE;
    background: url('noise.svg');
    font-family: Sora, sans-serif; /* Set default font-family */
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* Navigation Styles */
nav {
  margin-top:20px;
}

nav h1 {    
    font-family: 'Erica One', sans-serif;
    color: var(--clr-5);
    font-weight: 400;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    cursor: default;
}

nav .s {
    font-size: 1.2rem;
    font-weight: 200;
}

nav div {
    width: fit-content;
    border-radius: 20px;
    margin: 0 auto;
    height: fit-content;
}

.ivyswrld {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .I {
    font-family: 'Bungee Inline', cursive;
}



/* Content Styles */
.text-container {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.container {
    width: 320px; /* Adjusted to match height */
    height: 200px;
    text-align: center;
    font-size: 1.5rem;
    font-family: Sora, sans-serif;
    color: var(--clr-7);
    font-weight: 600;
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.container::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.line {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: center;
    transition: all 0.3s;
    opacity: 0.3;
    font-size: 1rem;
}

.line.active {
    opacity: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

.line.semi-active {
    opacity: 0.7;
    font-size: 1.25rem;
}
